:local(.PulsInfoBox) {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--white-transparent-superlight);
}
:local(.PulsInfoBox) p:first-child {
  border-left: none;
  padding-left: 0;
  margin-top: 1rem;
}
:local(.PulsInfoBox) img {
  min-width: 0;
  width: 100px;
  margin: 0;
}
