:local(.VolunteerPage) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 720px) {
  :local(.VolunteerPage) {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  #volunteer-form {
    height: 2000px;
  }
}
