:local(.TicketsPage) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}

#ticketco-iframe {
  margin-top: 2rem;
  background-color: var(--black-transparent-superlight);
  width: 100%;
  height: 700px;
}

@media screen and (min-width: 720px) {
  :local(.TicketsPage) {
    width: 60%;
  }
  #ticketco-iframe {
    height: 550px;
  }
}
