:local(.SplashPage) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

:local(.Header h1) {
  border-left: none;
  padding: 0;
  font-size: calc(1rem + 7vmin);
}
:local(.Header p) {
  padding: 0 10vw;
  text-align: center;
}
:local(.Header) {
  min-height: 60vh;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:local(.HeaderText) {
  font-weight: normal;
  font-family: "Libre Baskerville";
  text-transform: none;
}

:local(.SubHeader) {
  font-size: calc(1rem + 2vmin);
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  margin-left: 1rem;
}

:local(.Logo) {
  width: 800px;
  max-width: 100%;
  animation: 15s ease-in-out 0s infinite alternate pulsating;
}

@media screen and (min-width: 720px) {
  :local(.Header p) {
    max-width: calc(1rem + 50vmin);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(0.9) rotate(0deg) skew(0deg);
  }
  100% {
    transform: scale(1) rotate(2deg) skew(3deg);
  }
}
