:local(.PracticalInfoPage) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  width: 90%;
}

@media screen and (min-width: 1200px) {
  :local(.PracticalInfoPage) {
    width: 60%;
  }
}
