:local(.PracticalInfoPage) {
  display: grid;
  justify-content: center;
  padding: 0 1rem;
  grid-template-columns: minmax(50%, 600px);
}

:local(.NavMenu) {
  display: flex;
  padding-top: 2rem;
}
:local(.NavMenu) > * {
  margin-right: 2rem;
}
