:local(.Artist) {
  margin: 1rem 2rem;
  position: relative;

  /* Fallback color while image is loading */
  background-color: var(--black-transparent);
  background-size: cover;
  background-position: center;

  cursor: pointer;
  color: var(--white);

  min-height: 300px;
  /* min-width: 300px; */
  flex-basis: 400px;
  transition: filter var(--quick) ease-in-out;
}
:local(.Artist) h1,
:local(.Artist) h4 {
  font-family: "Montserrat", sans-serif;
}
:local(.Artist) h1 {
  margin: 0;
  margin-top: 1rem;
  text-shadow: var(--black) 2px 2px 10px;
  margin-left: -1rem;
  border-top: none;

  transition: margin-left var(--quick) ease-in-out;
}
:local(.Artist):not(.active):hover {
  filter: contrast(1.25);
}
:local(.Artist):not(.active):hover h1 {
  margin-left: -1.25rem;
}
:local(.Artist).active h1 {
  font-size: 2.25rem;
  border-left: none;
  overflow-wrap: break-word;
}
:local(.Artist).active {
  transform: rotateZ(1deg);
  z-index: 2;
  min-width: 90%;
}
:local(.Artist) img {
  min-width: 100%;
}
:local(.ArtistInfo) p:first-child {
  border-left: 0.5rem solid var(--quadary);
  padding-left: 1rem;
}
:local(.ArtistInfo) {
  margin-top: -30%;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    transparent,
    13%,
    var(--very-darkblack)
  );
  position: relative;
  height: fit-content;
}
@media screen and (min-width: 720px) {
  :local(.Artist).active {
    min-width: 80%;
  }
  :local(.Artist).active h1 {
    font-size: 6rem;
  }
  :local(.ArtistInfo) {
    padding: 0.5rem 10vw;
  }
}
