:local(.Artist) {
  position: relative;

  background-size: cover;
  background-position: center;
  background-color: var(--darkblack);
  /* background-blend-mode: multiply; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  color: var(--white);

  min-height: 300px;
  /* min-width: 300px; */
  flex-basis: 720px;
  transition: filter var(--quick) ease-in-out;
  border-bottom: 4px solid var(--secondary);
}
/* :local(.Artist)::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    var(--black) 100%
  );
  opacity: 0.75;
  height: 40px;
  bottom: 0;
  width: 100%;
  content: "";
} */
:local(.Artist) a {
  color: var(--white);
}
:local(.Artist) h1,
:local(.Artist) h4 {
  font-family: "Montserrat", sans-serif;
}
:local(.Artist) h1 {
  margin: 0;
  margin-top: 1rem;
  text-shadow: var(--darkblack) 2px 2px 10px;
  word-break: break-word;
  margin-left: -1rem;
  border-top: none;

  letter-spacing: 0.1rem;
  text-transform: none;

  transition: margin-left var(--quick) ease-in-out;
}
:local(.Artist):not(.active):hover {
  filter: contrast(1.25);
  /* background-color: transparent; */
}
:local(.Artist):not(.active) h1 {
  margin-left: 1rem;
  hyphens: none;
}
:local(.Artist):not(.active):hover h1 {
  margin-left: -1.25rem;
}
:local(.Artist).active h1 {
  font-size: 2.25rem;
  border-left: none;
  overflow-wrap: break-word;
}
:local(.Artist).active {
  /* transform: rotateZ(1deg); */
  z-index: 2;
  min-width: 90%;
  /* background-color: var(--darkblack); */
}
:local(.Artist) img {
  min-width: 100%;
  margin: auto;
}
:local(.ImageWrapper)::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    var(--darkblack) 80%
  );
  margin-top: -25vh;
  height: 25vh;
  width: 100%;
  content: "";
}
:local(.ArtistInfo) p:first-child {
  margin-top: 0;
  border-left: 0.5rem solid var(--quadary);
  padding-left: 1rem;
}
:local(.ArtistInfo) {
  margin-top: -30%;
  padding: 2rem;
  position: relative;
  height: fit-content;
}
:local(.ArtistInfoGrid) {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  align-items: stretch;
  justify-content: center;
}
:local(.ConcertInfo) {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  grid-gap: 1rem;
  text-shadow: var(--darkblack) 2px 2px 2px;

  font-size: 1.5rem;
}
:local(.ConcertInfo svg) {
  justify-self: center;
  font-size: 3rem;
  color: var(--quadary);
}
@media screen and (min-width: 720px) {
  :local(.Artist):not(.active) h1 {
    margin-left: -1rem;
  }
  :local(.Artist) {
    margin: 1rem 2rem;
    flex-basis: 400px;
    border-bottom: none;
  }
  :local(.Artist).active {
    min-width: 80%;
  }
  :local(.Artist).active h1 {
    font-size: 6rem;
  }
  :local(.ConcertInfo) {
    font-size: 2rem;
  }
  :local(.ArtistInfo) {
    padding: 0.5rem 10vw;
  }
  :local(.ArtistInfoGrid) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
