:local(.NavMenu) {
  background-color: var(--lightyellow);
  display: grid;
  padding: 0.5rem 0 0.8rem 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-weight: 600;
}
:local(.NavMenu a) {
  margin: 0.25rem 0.5rem;
}
:local(.NavMenu img) {
  max-height: 2.2rem;
}
@media screen and (min-width: 720px) {
  :local(.NavMenu) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
  }
  :local(.NavMenu a) {
    margin: 0.25rem 2.5%;
  }
}
