:local(.NavMenu) {
  display: grid;
  padding: 0.5rem 0 0.8rem 0;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-weight: 600;
}
:local(.NavMenu a) {
  margin: 0.25rem 0.5rem;
}
:local(.NavMenu img) {
  max-height: 2.2rem;
}
:local(.BurgerMenu) {
  display: grid;
  text-align: center;
  grid-gap: 1rem;
  padding: 3rem;
}
:local(.BurgerMenuOpenIcon) {
  position: fixed;
  background-color: var(--quadary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0.5rem;
  left: 0.5rem;
}
:local(.BurgerMenuCloseIcon) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  display: inline-block;
}
@media screen and (min-width: 720px) {
  :local(.NavMenu) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
  }
  :local(.NavMenu a) {
    margin: 0.25rem 2.5%;
  }
}
