:local(.NavMenuWrapper) {
  position: fixed;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white-transparent-heavy);
}
:local(.NavMenu) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}
:local(.NavMenu img) {
  max-height: 2.2rem;
}
:local(.NavMenuPadder) {
  height: 5rem;
}
