:local(.ProgramWrapper) {
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}
:local(.Program) {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  border-radius: 8px;
}
:local(.Program h2) {
  width: auto;
  margin: 0;
  padding: 0 0.5rem;
}
:local(.ProgramEntry) {
  display: flex;
  flex-direction: column;
}
:local(.ProgramEntry) {
  display: flex;
  flex-direction: column;
}
:local(.ProgramListItem) {
  padding: 0.5rem;
}
:local(.ProgramListItem):nth-child(2n + 1) {
  background-color: var(--black-transparent-superlight);
}
:local(.ProgramList) {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem;
}
:local(.ConcertInfo) {
  color: var(--gray);
}
@media screen and (min-width: 720px) {
  :local(.Program) {
    margin: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--black-transparent-superlight);
  }
  :local(.ProgramDay) {
    padding: 1rem;
  }
  :local(.ConcertInfo)::after {
    content: " / ";
  }
  :local(.ProgramEntry) {
    display: block;
  }
  :local(.ProgramListItem) {
    padding: 0.25rem 0;
  }
  :local(.ProgramListItem):nth-child(2n + 1) {
    background-color: transparent;
  }
}
