:local(.ProgramHistoryTimeline) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
:local(.ProgramHistoryTimeline p) {
  font-family: "Montserrat", sans-serif;
}
:local(.Event:not(:last-child)) {
  margin-bottom: 3rem;
}

:local(.Event) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

:local(.Event h1) {
  margin-top: 0;
}
:local(.EventList) {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

:local(.Poster) {
  max-width: 100%;
  box-shadow: 1px 1px 3px 0px var(--black-transparent-light);
}
