:local(.ByjubileumPage) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  width: 90%;
}
:local(.ByjubileumPage h2) {
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.25rem;
}
@media screen and (min-width: 1000px) {
  :local(.ByjubileumPage) {
    width: 720px;
  }
  :local(.ByjubileumPage h2) {
    padding: 2rem;
    font-size: 1.65rem;
  }
}
