:local(.SpecificCityAdLandingPage) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

:local(.SpecificCityAdLandingPage h2) {
  text-align: center;
}

:local(.SpecificCityAdLandingPage) a.no-underline {
  border-bottom: none;
}
:local(.SpecificCityAdLandingPage) a.no-underline:hover {
  border-bottom: none;
}

:local(.ColoredBackground) {
  background-color: var(--superlightteal);
  padding-bottom: 4rem;
}
:local(.Section) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;

  margin: 2rem 0;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
:local(.ButtonGroup) {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 auto;

  margin-top: 3rem;
}

@media screen and (min-width: 720px) {
  :local(.Section) {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
  }
}
@media screen and (min-width: 920px) {
  :local(.Section) {
    grid-template-columns: 1fr 1fr;
  }
  :local(.ButtonGroup) {
    max-width: 50%;
  }
}

:local(.SingleSection) {
  grid-template-columns: 1fr;
}
