:local(.RoundedButton) {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 200px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-size: 0.9em;
  box-shadow: 0 1px 3px 0px var(--black-transparent-light);
}
:local(.RoundedButton):hover {
  background-color: var(--secondary);
}
