:local(.Footer) {
  padding: 2rem;
  max-width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 720px) {
  :local(.Footer) {
    max-width: 70%;
  }
}
:local(.Footer > *) {
  align-self: stretch;
  justify-self: center;
}
:local(.Footer ul) {
  padding: 0;
  margin-top: 0;
  font-size: 1.5rem;
}
:local(.Footer ul li) {
  display: inline;
  padding: 1rem;
}
:local(.Footer ul li a),
:local(.Sponsors a) {
  border-bottom: none;
  transition: all var(--quick) ease-in-out;
}
:local(.Footer ul li a):hover,
:local(.Sponsors a):hover {
  border-bottom: none;
}
:local(.Footer ul li a):hover {
  transform: scale(1.1);
}
:local(.Sponsors a):hover {
  transform: scale(1.025);
}
:local(.Sponsors) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  color: var(--black);
}
:local(.Sponsors img) {
  max-width: 14rem;
  max-height: 5rem;
  padding: 1rem;
  filter: grayscale(1);
}
:local(.Sponsors).large img {
  max-width: 34rem;
  max-height: 13rem;
}
:local(.Sponsors).small img {
  max-width: 9rem;
  max-height: 4rem;
}
