:local(.CoronaInfoBox) {
  background-color: var(--quadary);
  padding: 1rem;
  width: 90%;
  margin: auto;
}
:local(.CoronaInfoBoxWrapper) {
  margin: auto;
}
@media screen and (min-width: 720px) {
  :local(.CoronaInfoBox) {
    padding: 1.5rem 2.5rem;
  }
  :local(.CoronaInfoBoxWrapper) {
    width: 50%;
  }
}

@media screen and (min-width: 920px) {
  :local(.CoronaInfoBoxWrapper) {
    width: 40%;
  }
}
