:root {
  /* Colors */
  --white: #fffffe;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --light-transparent-white: rgba(255, 255, 255, 0.2);
  --super-light-transparent-white: rgba(255, 255, 255, 0.05);
  --black: #232323;
  --light-transparent-black: rgba(0, 0, 0, 0.2);
  --super-light-transparent-black: rgba(0, 0, 0, 0.05);
  --gray: #505050;
  --yellow: #fffd53;
  --lightblue: #34a3f1;
  --teal: #9ee9f5;

  /* Durations */
  --quick: 0.2s;
  --slow: 0.4s;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
}

.App-header {
  background-color: var(--white);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--black);
}

.App-link {
  color: #61dafb;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity var(--quick) ease-in-out;
}
