@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"),
    url(./assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"),
    url(./assets/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf)
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"),
    url(./assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
}
/* TODO: Add more styles of the font if neccessary, otherwise delete them from assets/fonts/ folder */

@font-face {
  font-family: "Major Mono Display";
  src: local("Major Mono Display"),
    url(./assets/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
