@import "fonts.css";

:root {
  /* Colors */
  --primary: mediumseagreen;
  /* --primary: mediumseagreen; */
  --secondary: #5ac88b;
  --tertiary: #36a065;
  --quadary: #86dbac;

  --white: #fffffe;
  --white-transparent-heavy: rgba(255, 255, 255, 0.9);
  --white-transparent-medium: rgba(255, 255, 255, 0.5);
  --white-transparent-light: rgba(255, 255, 255, 0.2);
  --white-transparent-superlight: rgba(255, 255, 255, 0.05);
  --black: #232323;
  --darkblack: #171717;
  --very-darkblack: #010101;
  --black-transparent: rgba(0, 0, 0, 0.9);
  --black-transparent-medium: rgba(0, 0, 0, 0.5);
  --black-transparent-light: rgba(0, 0, 0, 0.2);
  --black-transparent-superlight: rgba(0, 0, 0, 0.05);
  --lightgray: #f3f3f3;
  --gray: #505050;
  --lightblue: #34a3f1;

  /* Spacing */
  --space-small: 0.5rem;
  --space-regular: 1rem;
  --space-medium: 2rem;
  --space-big: 3rem;

  /* Durations */
  --superquick: 0.1s;
  --quick: 0.2s;
  --slow: 0.4s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 700;
}
h1,
h2,
h3 {
  padding: 1rem 1.5rem;
  border-left: 0.5rem solid var(--quadary);
}
.with-background {
  background-color: var(--secondary);
  border-left: 0.5rem solid var(--quadary);
  color: var(--white);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: square;
}
ul.link-list li {
  line-height: 2;
}

iframe {
  border: 0;
}

.SpotifyPlayer {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
}
