:local(.BuyTicketButtonWrapper) {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 9;

  transform: rotateZ(10deg) scale(0);
  animation: scaleAndRotateIn 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

:local(.BuyTicketButton) {
  border-radius: 100%;
  height: 9rem;
  width: 9rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: var(--white);
  background: #e85b5b;
  box-shadow: 0 1px 3px 0px var(--black-transparent-light);

  cursor: pointer;
  text-decoration: none;

  transform-style: preserve-3d;
  transition: transform var(--quick) ease-in-out;
  transform: rotateZ(-5deg);
}
:local(.BuyTicketButton):hover {
  transform: scale(1.05) rotateZ(2deg);
}
@media screen and (min-width: 720px) {
  :local(.BuyTicketButtonWrapper) {
    bottom: 2rem;
    right: 2rem;
  }
  :local(.BuyTicketButton) {
    height: 12.5rem;
    width: 12.5rem;
    font-size: 1.4rem;
  }
}
:local(.Blink) {
  animation: blink 4s ease-in-out infinite;
}

@keyframes scaleAndRotateIn {
  0% {
    transform: rotateZ(10deg) scale(0);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
