:local(.BuyTicketButtonWrapper) {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;

  transform: rotateZ(10deg) scale(0);
  animation: scaleAndRotateIn 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

:local(.BuyTicketButton) {
  border-radius: 100%;
  height: 6.5rem;
  width: 6.5rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: var(--white);
  background: var(--primary);

  cursor: pointer;
  text-decoration: none;

  transform-style: preserve-3d;
  transition: transform var(--quick) ease-in-out;
  transform: rotateZ(-5deg);
}
:local(.BuyTicketButton):hover {
  transform: scale(1.05) rotateZ(2deg);
}
@media screen and (min-width: 720px) {
  :local(.BuyTicketButton) {
    height: 11rem;
    width: 11rem;
    font-size: 1.75rem;
  }
}

@keyframes scaleAndRotateIn {
  0% {
    transform: rotateZ(10deg) scale(0);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}
